@font-face {
  font-family: "luminizors-icon"; /* Project id 5029029 */
  src: url('iconfont.woff2?t=1758646621845') format('woff2'),
       url('iconfont.woff?t=1758646621845') format('woff'),
       url('iconfont.ttf?t=1758646621845') format('truetype');
}

.luminizors-icon {
  font-family: "luminizors-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
  content: "\e906";
}

.icon-more_horizontal:before {
  content: "\e96a";
}

.icon-music_note_2:before {
  content: "\e974";
}

.icon-paint_brush:before {
  content: "\e999";
}

.icon-person:before {
  content: "\e9b7";
}

.icon-person_circle:before {
  content: "\e9bf";
}

.icon-receipt:before {
  content: "\ea20";
}

.icon-shield_video:before {
  content: "\ea79";
}

.icon-sign_out:before {
  content: "\ea90";
}

.icon-video:before {
  content: "\ebbc";
}

.icon-warning:before {
  content: "\ebd3";
}

.icon-weather_sunny:before {
  content: "\ebe9";
}

.icon-wechat:before {
  content: "\ec00";
}

.icon-add:before {
  content: "\e621";
}

.icon-alert:before {
  content: "\e637";
}

.icon-arrow_clockwise:before {
  content: "\e650";
}

.icon-arrow_import:before {
  content: "\e66c";
}

.icon-arrow_sync:before {
  content: "\e692";
}

.icon-chat_help:before {
  content: "\e73e";
}

.icon-checkmark:before {
  content: "\e753";
}

.icon-checkmark_circle:before {
  content: "\e754";
}

.icon-chevron_right:before {
  content: "\e76f";
}

.icon-copy:before {
  content: "\e7c0";
}

.icon-dark_theme:before {
  content: "\e7dc";
}

.icon-delete:before {
  content: "\e7e7";
}

.icon-dismiss:before {
  content: "\e804";
}

.icon-document_question_mark:before {
  content: "\e83b";
}

.icon-document_text:before {
  content: "\e847";
}

.icon-error_circle:before {
  content: "\e887";
}

.icon-home:before {
  content: "\e8f0";
}

.icon-image:before {
  content: "\e8f5";
}

