:root {
  color-scheme: light dark;
  width: 100%;
  height: 100%;
}

.theme-light {
  background-color: #ffffff;
  --text-color-primary: black;
  --text-color-secondary: gray;
}
.theme-dark {
  background-color: #333;
  --text-color-primary: #eee;
  --text-color-secondary: #bbb;
}
